@media (max-width: 1000px){
    .content.two-column-layout {
        flex-direction: column;
    }

    section.main-content { 
        flex: initial;
    }
    
    section.quick-posts {
        flex: initial;
    }
}