@media (max-width: 1000px){
    .content.two-column-layout {
        flex-direction: column;
    }

    section.main-content { 
        flex: initial;
    }
    
    section.quick-posts {
        flex: initial;
    }
}

@media( max-width: 725px ){
    body { 
        min-width: 725px;
    }
}