@import "reset.css";
@import "responsive.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Vollkorn+SC:700|Indie+Flower');

html, body {
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #EDF2F4;

    display: flex;  
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    padding: 15px;
}

.content.two-column-layout {
    display: flex;
}

.content.two-column-layout > :first-child {
    margin-right:15px;
}

.main-content { 
    flex: 3;
}

.quick-posts {
    flex: 1;
}

nav {
    font-family: 'Vollkorn SC', serif;
    background-color: #333;
    padding: 10px 15px;
    box-shadow: 5px 1px 2px #003459;
    margin-bottom: 10px;
}

nav, nav ul { 
    display : flex;
    min-height: 1.1em;
}

nav span {
    padding-right: 10px;
}

nav li {
    padding : 2px 25px;
    border-right: 1px solid rgb(196, 196, 196);
}

nav li:last-child {
    border-right: none;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    box-shadow: 5px -1px 2px #003459;
}

footer span {
    padding: 2px 10px;
    border-right: 1px solid #C4C4C4;
}

ul.posts li{
    margin-bottom: 5px;
}

ul.posts a {
    display: block;
}

p{
    margin-bottom: 1em;
}

article > h1 {
    font-size: 1.1em;
}

article > h3 {
    font-weight: normal;
}

h1, h2, h3 {
    font-weight: bolder;
}

article {
    margin-bottom: 10px;
}

ol > li {
    list-style: decimal;
    margin-left: 25px;
}


/* Utility Classes */
.no-style { 
    text-decoration: none;
}

.font-base {
    font-size: 15px;
}

.font-medium {
    font-size: 18px;
}

.font-bigger {
    font-size: 20px;
}

.font-biggest {
    font-size: 22px;
}

.bold {
    font-weight: bold;
}

.underlined {
    text-decoration: underline;
}

.signature {
    font-family: 'Indie Flower', cursive;
}

.font-smoke {
    color: #F4F4F9;
}

.font-grey {
    color: #616161;
}

.wrap-left {
    float: left;
    margin: 0em 1em 1em 0em;
}

.margin-bottom-small {
    margin-bottom: 5px;
}

.clean-link {
    text-decoration: none;

}

.clean-link:visited {
    text-decoration: none;
}
